<div class="search-div">
    <button mat-raised-button (click)="onCreate()" *ngIf="isSeller">
        <mat-icon>add</mat-icon> Create New Offer
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="sellersOffersList" matSort>
        <ng-container matColumnDef="actions" *ngIf="isClient">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary">Take Offer</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="owner">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Owner ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.owner.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="departureDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.departureDate.toDate() | date: "MMM d yyyy"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arrivalDate" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.arrivalDate.toDate() | date: "MMM d yyyy"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="departureLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.departureLocation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arrivalLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.arrivalLocation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Truck Brand</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.brand}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maxVolume">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Max Volume</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.maxVolume}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maxWeight">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Max Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.maxWeight}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gauge">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gauge</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.gauge}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="priceEmpty">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price Empty</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.priceEmpty}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="priceFull">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price Full</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.priceFull}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':sellersOffersList!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(sellersOffersList!=null && sellersOffersList.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
