<mat-toolbar color="primary">
    Welcome to our platform

    <ng-container>
        <button mat-button *ngIf="user"  [matMenuTriggerFor]="sellerMenu">
            <mat-icon>account_circle</mat-icon>
            {{user.email}}
            <mat-icon>expand_more</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>

<mat-menu #sellerMenu="matMenu" >
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
    <button mat-menu-item routerLink="transporterOffers">
        <mat-icon>dashboard</mat-icon>
        Transporters Offers
    </button>
    <button mat-menu-item routerLink="clientOffers">
        <mat-icon>local_offer</mat-icon>
        Client Offers
    </button>
    <button mat-menu-item routerLink="myOffers">
        <mat-icon>account_profile</mat-icon>
        My Offers
    </button>
</mat-menu>