<mat-toolbar color="primary">
    Welcome to our platform


    <ng-container>
        <button *ngIf="this.router.url=='/client/myOffers'" mat-button onclick="location.href = 'esri-map.html';">
            <mat-icon>map</mat-icon>
            Map
        </button>
        <button mat-button *ngIf="user"  [matMenuTriggerFor]="sellerMenu">
            <mat-icon>account_circle</mat-icon>
            {{user.email}}
            <mat-icon>expand_more</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>

<div id="client-background" class="content">
    <router-outlet></router-outlet>
</div>

<mat-menu #sellerMenu="matMenu" >
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
    <button mat-menu-item routerLink="clientOffers">
        <mat-icon>dashboard</mat-icon>
        Delivery Requests
    </button>
    <button mat-menu-item routerLink="transporterOffers">
        <mat-icon>local_offer</mat-icon>
        Transporters Delivery Routes
    </button>
    <button mat-menu-item routerLink="myOffers">
        <mat-icon>account</mat-icon>
        My Delivery Requests
    </button>
</mat-menu>