<h1 style="text-align: center; font-weight: bolder;">All transports</h1>
<div class="search-div">
    <button mat-raised-button (click)="onCreate()" *ngIf="isAdmin">
        <mat-icon>add</mat-icon> Create Transport
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="clientsOffersList" matSort>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" *ngIf="isAdmin" (click)="onDelete(element.id)"><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Driver Phone Number</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone_number}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="truckNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Truck Number</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.truck_number}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="departureDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{(element.departure_time) | date: "MMM d yyyy HH:mm:ss"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="departureLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.departure_location}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arrivalLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.arrival_location}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cargoType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cargo_type}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cargoDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cargo_description}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':clientsOffersList!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(clientsOffersList!=null && clientsOffersList.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
