<form [formGroup]="clientForm" class="normal-form" (ngSubmit)="submit()">
    <mat-grid-list cols="9" rowHeight="300px">
        <mat-grid-tile colspan="4">
            <mat-grid-tile-header style="background-color: white; color: black; font-size: x-large; justify-content: center;">
                Cargo Info
            </mat-grid-tile-header>
            <div class="controles-container">
                <mat-form-field style="margin-top: 50px;">
                    <mat-label>Cargo Type</mat-label>
                    <mat-select formControlName="cargoType">
                        <mat-option value="Wood">Wood</mat-option>
                        <mat-option value="Water">Water</mat-option>
                        <mat-option value="Cars">Cars</mat-option>
                    </mat-select>
                    <mat-error *ngIf="cargoType?.errors?.['required']">
                        Cargo Type is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="volume" matInput placeholder="Volume (litre)">
                    <mat-error *ngIf="volume?.errors?.['required']">
                        Volume is required
                    </mat-error>
                    <mat-error *ngIf="volume?.errors?.['pattern']">
                        Doesn't respect the pattern ex: 2.13
                    </mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input formControlName="weight" matInput placeholder="Weight (to)">
                    <mat-error *ngIf="weight?.errors?.['required']">
                        Weight is required
                    </mat-error>
                    <mat-error *ngIf="weight?.errors?.['pattern']">
                        Doesn't respect the pattern ex: 2.13
                    </mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input formControlName="budget" matInput placeholder="Buget">
                    <mat-error *ngIf="budget?.errors?.['required']">
                        Gauge is required
                    </mat-error>
                    <mat-error *ngIf="budget?.errors?.['pattern']">
                        Doesn't respect the pattern ex: 2.13
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-divider vertical style="height: 300px;"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" >
            <mat-grid-tile-header style="background-color: #ffffff; color: black; font-size: x-large; justify-content: center; margin-bottom: 5px;">
                Offer Info
            </mat-grid-tile-header>
            <div class="controles-container">
                <mat-form-field style="margin-top: 50px;">
                    <input formControlName="departureDate" matInput [matDatepicker]="departure" placeholder="Departure Date">
                    <mat-datepicker-toggle matSuffix [for]="departure"></mat-datepicker-toggle>
                    <mat-datepicker #departure></mat-datepicker>
                    <mat-error *ngIf="departureDate?.errors?.['required']">
                        Departure Date is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="arrivalDate" matInput [matDatepicker]="arrival" placeholder="Arrival Date">
                    <mat-datepicker-toggle matSuffix [for]="arrival"></mat-datepicker-toggle>
                    <mat-datepicker #arrival></mat-datepicker>
                    <mat-error *ngIf="arrivalDate?.errors?.['required']">
                        Arrival Date is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="departureLocation" matInput placeholder="Departure Location">
                    <mat-error *ngIf="departureLocation?.errors?.['required']">
                        Departure Location is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="arrivalLocation" matInput placeholder="Arrival Location">
                    <mat-error *ngIf="arrivalLocation?.errors?.['required']">
                        Arrival Location is required
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="center margin-top" style="justify-content: space-evenly;">
        <button mat-raised-button color="primary" type="submit" >
            Submit
        </button>
        <button mat-raised-button color="warn" (click)="clear()" type="reset">
            Clear
        </button>
    </div>
</form>
