<h1 *ngIf="isClient" style="text-align: center; font-weight: bolder;">My Delivery Requests</h1>
<h1 *ngIf="isSeller" style="text-align: center; font-weight: bolder;">My Delivery Routes</h1>
<div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="myOffersList" matSort>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" *ngIf="element.status=='Pending'" (click)="onDelete(element.id)"><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="departureDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.departureDate.toDate() | date: "MMM d yyyy"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arrivalDate" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.arrivalDate.toDate() | date: "MMM d yyyy"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="departureLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Departure Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.departureLocation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arrivalLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Arrival Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.arrivalLocation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cargoType" *ngIf="isClient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cargoType}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="brand" *ngIf="isSeller">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Truck Brand</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.brand}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="volume" *ngIf="isClient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Volume</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.volume}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maxVolume" *ngIf="isSeller">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Max Volume</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.maxVolume}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="weight" *ngIf="isClient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maxWeight" *ngIf="isSeller">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Max Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.maxWeight}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="budget" *ngIf="isClient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Budget</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.budget}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gauge" *ngIf="isSeller">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gauge</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.gauge}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="priceEmpty" *ngIf="isSeller">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price Empty</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.priceEmpty}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="priceFull" *ngIf="isSeller">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price Full</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.priceFull}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':myOffersList!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(myOffersList!=null && myOffersList.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
